<h2 mat-dialog-title>Freeze Reason</h2>
<mat-dialog-content>
  <form [formGroup]="freezeForm">
    <mat-form-field appearance="fill">
      <mat-label>Reason</mat-label>
      <textarea formControlName="reason" cdkFocusInitial matInput required> </textarea>
      <mat-error *ngIf="(freezeForm.get('reason')?.errors || {})['required']">Reason is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="primary" (click)="submit()">Provide Reason</button>
</mat-dialog-actions>