
.namespace-task {
  padding: 10px;
  border-radius: 10px;
  background-color: azure;
  width: 90%;
  margin: 0 auto;


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  align-items: center;
  word-break: break-word;
}

.task--completed {
  background-color: gainsboro;
}

.task--frozen {
  background-color: #115d8a;
  color: white;
}

.task--follow-up {
  background-color: #8a810b;
  color: white;
}

.delete {
  color: #f44336 !important;
  font-weight: 600;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.freeze {
  color: #87CEFA !important;
  font-weight: 600;
}

.follow-up {
  color: #d4ca48 !important;
  font-weight: 600;
}

.unfreeze {
  color: orange !important;
  font-weight: 600;
}
