<div
  [matTooltip]="task.frozenReason"
  class="namespace-task"
  [ngClass]="{
  'task--completed': task.isCompleted, 
  'task--frozen': task.isFrozen === FrozenStatus.Frozen,
  'task--follow-up': task.isFrozen === FrozenStatus.FollowUp,
  }"
>
  <div class="title-checkbox">
    <mat-checkbox
      [checked]="task.isCompleted"
      [disabled]="task.isFrozen"
      (change)="toggleTask($event)"
    ></mat-checkbox>
    <div class="title">
      <span>{{ task.title }}</span>
    </div>
  </div>
  <div class="menu">
    @if(task.attachedLinks?.length > 0) {
    <button mat-icon-button [matMenuTriggerFor]="links" aria-label="links-menu">
      <mat-icon>link</mat-icon>
    </button>
    }
    <button
      mat-icon-button
      [disabled]="task.isCompleted"
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item class="edit">Edit</button> TODO: add later-->
  <button mat-menu-item (click)="onDelete()">
    <mat-icon
      class="delete"
      aria-hidden="false"
      aria-label="delete"
      fontIcon="delete"
    ></mat-icon>
    <span class="delete">Delete</span>
  </button>
  @if(task.isFrozen) {
  <button mat-menu-item (click)="onUnfreeze()">
    <mat-icon class="unfreeze" fontIcon="sunny"></mat-icon>
    <span class="unfreeze">Unfreeze</span>
  </button>
  } @else {
  <button mat-menu-item (click)="onFreeze(FrozenStatus.Frozen)">
    <mat-icon class="freeze" fontIcon="ac_unit"></mat-icon>
    <span class="freeze">Freeze</span>
  </button>
  <button mat-menu-item (click)="onFreeze(FrozenStatus.FollowUp)">
    <mat-icon class="follow-up" fontIcon="keyboard_return"></mat-icon>
    <span class="follow-up">Follow Up</span>
  </button>
  }
  <button mat-menu-item (click)="onAddLink()">
    <mat-icon aria-hidden="false" aria-label="link" fontIcon="link"></mat-icon>
    <span>Add Link</span>
  </button>
</mat-menu>

<mat-menu #links="matMenu">
  @for (link of task.attachedLinks; track $index) {
  <button mat-menu-item (click)="navigate(link)">
    {{ link.caption }}
  </button>
  }
</mat-menu>
