<div class="app-root">
  <section class="chips-panel">
      <mat-chip-set aria-label="Namespace statuses">
        @for (namespace of namespaces(); track namespace.id) {
          <mat-chip [highlighted]="isShown(namespace)" [color]="'primary'" (click)="toggleShown(namespace)" [disabled]="focusedNamespaceId()">
            {{namespace.name}}
          </mat-chip>
        }
        <div class="divider"></div>
        <mat-chip (click)="hideAll()">
          Hide all
        </mat-chip>
        <mat-chip (click)="showAll()">
          Show all
        </mat-chip>
        <mat-chip (click)="removeAllCompleted()">
          Remove all completed
        </mat-chip>
      </mat-chip-set>
      <div class="points">
        <div class="stats">
          <div>Time: {{uiStateService.totalTime()}} min</div> 
          <div>Scores: {{uiStateService.scores()}}</div> 
        </div>
        <button mat-icon-button aria-label="score menu" [matMenuTriggerFor]="scoreMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
    </div>
  </section>
  <section class="app-namespaces"
  [ngClass]="{'app-namespaces--isDragging': isDragging}" 
    #namespacesEl
  >
    @for (namespace of namespaces(); track namespace.id) {
      @if(isShown(namespace) && focusedNamespaceId() === null) {
        <app-namespace
          [namespace]="namespace"
          [isFocused]="focusedNamespaceId() === namespace.id"
          (focusedOnNamespace)="onNamespaceFocus(namespace)"
        ></app-namespace>
      } @else if(focusedNamespaceId() === namespace.id) {
        <app-namespace
          [namespace]="namespace"
          [isFocused]="true"
          (focusedOnNamespace)="onNamespaceFocus(namespace)"
        ></app-namespace>
      }
    }
  </section>
  <router-outlet />
</div>


<mat-menu #scoreMenu="matMenu">
  <!-- <button mat-menu-item class="edit">Edit</button> TODO: add later-->
  <button mat-menu-item (click)="resetTimers()">
    <mat-icon class="delete" aria-hidden="false" aria-label="reset" fontIcon="restart_alt"></mat-icon>
    <span class="delete">Reset Timer</span>
  </button>
  <button mat-menu-item (click)="resetScores()">
    <mat-icon class="delete" aria-hidden="false" aria-label="reset" fontIcon="cancel"></mat-icon>
    <span class="delete">Reset Scores</span>
  </button>
  <button mat-menu-item color="primary" (click)="convertToScores()">
    <mat-icon class="green" aria-hidden="false" aria-label="exchange" fontIcon="add_circle"></mat-icon>
    <span class="green">Convert to Scores</span>
  </button>
  <button mat-menu-item (click)="addNamespace()">
    <mat-icon aria-hidden="false" aria-label="exchange" fontIcon="add"></mat-icon>
    <span>Add Namespace</span>
  </button>
</mat-menu>