body {
  margin: 0;
  padding: 0;
}

mat-chip {
  cursor: pointer !important;
}

.app-root {
  margin: 0 auto;
  max-width: 1800px;
  padding: 0 15px;
  padding-top: 35px;
  height: calc(100vh - 35px - 15px - 50px);
}

.chips-panel {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-namespaces {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  &--isDragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  & > * {
    margin-left: 20px;
  }
}


.points {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete {
  color: #f44336 !important;
  font-weight: 600;
}

.green {
  color: #21b52c !important;
  font-weight: 600;
}

.divider {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}