<div class="app-root">
  <section class="chips-panel">
      <mat-chip-set aria-label="Namespace statuses">
        @for (namespace of namespaces(); track namespace.id) {
          <mat-chip [highlighted]="isShown(namespace)" [color]="'primary'" (click)="toggleShown(namespace)" [disabled]="focusedNamespaceId()">
            {{namespace.name}}
          </mat-chip>
        }
      </mat-chip-set>
  </section>
  <section class="app-namespaces"
  [ngClass]="{'app-namespaces--isDragging': isDragging}" 
    #namespacesEl
    (mousedown)="onMousedown($event)"
    (mouseleave)="onMouseleave()"
    (mouseup)="onMouseup()"
    (mousemove)="onMousemove($event)"
  >
    @for (namespace of namespaces(); track namespace.id) {
      @if(isShown(namespace) && focusedNamespaceId() === null) {
        <app-namespace
          [namespace]="namespace"
          [isFocused]="focusedNamespaceId() === namespace.id"
          (focusedOnNamespace)="onNamespaceFocus(namespace)"
        ></app-namespace>
      } @else if(focusedNamespaceId() === namespace.id) {
        <app-namespace
          [namespace]="namespace"
          [isFocused]="true"
          (focusedOnNamespace)="onNamespaceFocus(namespace)"
        ></app-namespace>
      }
    }
  </section>
  <router-outlet />
</div>
